.button {
  cursor: pointer;
}

.button:hover:not(:disabled) {
  color: var(--text-active);
}

.button:disabled {
  color: var(--border-faint);
  cursor: default;
}

.button__label--disabled {
  color: var(--border-faint);
}
