.segment {
  display: flex;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.segment__button {
  padding: 4px 10px;
  border-left: 1px solid var(--border);
  cursor: pointer;
}

.segment__button:first-child {
  padding-left: 12px;
  border-left: none;
}

.segment__button:last-child {
  padding-right: 12px;
}

.segment__button--active {
  background: var(--active-panel);
  color: var(--text-active);
}

.segment__button:not(.segment__button--active):hover {
  color: var(--text-active);
}
