.dropzone-input {
  display: none;
}

.dropzone-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 32px;
  image-rendering: pixelated;
}

.panel:has(.droppable:hover):not(:has(.actionbar)),
.panel:has(.droppable.dragging):not(:has(.actionbar)) {
  border-color: var(--border-active);
  background: var(--panel-active);
}

.panel:has(.droppable:hover):has(.actionbar),
.panel:has(.droppable.dragging):has(.actionbar) {
  border-color: var(--border-active);
  background: var(--panel-active);
}
